body {
  background-color: rgb(177, 216, 216);
}

.pieStyles, 
.buttonStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card, 
.btn {
  margin: 10px;
}

.card {
  border: 2px solid gray;
}

form {
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 30px;
  margin-bottom: 15px;
}
